@media screen and (max-width: 768px) {
    html {
        width: fit-content;
    }

    body {
        margin: 0;
        background-color: #0C0A08;
        color: #A9B8D2;
        font-family: 'ITCAvantGardePro-Md', sans-serif;
        cursor: context-menu;
        overflow-x: hidden;
        padding: 0;
        height: 100%;
    }

    .circle {
        display: none;
    }

    #navbar {
        padding: 50px 1050px 0px 20px;
        width: -webkit-fill-available;
    }

    .line-shown {
        margin-left: 73px;
        margin-top: 300px;
        font-size: 60px;
        width: fit-content;
    }

    .about-section {
        margin-top: 350px;
        margin-left: -220px;
        margin-right: 800px;
    }

    .about-section img{
        right: 200px;
    }

    .section-title {
        font-size: 1.2em !important;
        padding-top: -150px;
    }

    .section-text {
        margin-right: 250px;
        font-size: 1.4em !important;
        padding-bottom: 50px;
    }

    .what-i-do-container {
        margin-left: -220px;
    }

    .rows p {
        padding-top: 50px;
        padding-bottom: 40px;
        font-size: 2.5em;
    }

    .text-hidden-sections {
        padding-top: 100px;
        margin-left: -420px;
        margin-right: 600px;
        font-size: small !important;
    }

    .works-section {
        margin-top: -240px;
        margin-left: -220px;
        margin-right: 800px;  
    }

    .history-container {
        margin-left: -150px;
    }

    .clients-container {
        margin-left: -150px;
        margin-top: 40px;
    }

    .client-name {
        font-size: 5em !important;
        margin-top: 20px;
    }

    .clients-container span {
        font-size: 0.3em !important;
    }

    .clients-container .text-hidden-sections {
        margin-right: 50px;

    }

    .scroll-section {
        padding-top: 0;
        margin-right: 220px;
        margin-bottom: -400px;
    }

    .fade-up-images-left {
        margin-bottom: 400px;
    }

    .motto {
        margin-right: 200px;
    }

    .motto p {
        font-size: 70pt !important;
    }

    .footer-container {
        padding-left: 100px;
    }

    .footer-heading {
        letter-spacing: 18px;
        transform: scaleY(7.4);
    }

    .logo {
        max-width: 400px;
    }

    .works-description {
        margin-right: 210px;
    }

    .works-container {
        margin-right: 210px;
    }

    .programs-used-title {
        margin-right: 210px;
    }

    .programs-used {
        margin-right: 210px;
    }
}