/* IPAD PRO HORIZONTAL */

@media screen and (max-width: 1400px) {
    html {
        width: fit-content;
    }

    body {
        margin: 0;
        background-color: #0C0A08;
        color: #A9B8D2;
        font-family: 'ITCAvantGardePro-Md', sans-serif;
        cursor: context-menu;
        overflow-x: hidden;
        padding: 0;
        height: 100%;
    }

    .circle {
        opacity: 0;
    }

    #navbar {
        padding: 50px 130px 0px 50px;
    }

    .about-section {
        margin-top: 500px;

    }

    .section-title {
        font-size: 1.2em !important;
        padding-top: -150px;
    }

    .section-text {
        margin-right: 250px;
        font-size: 1.6em !important;
        padding-bottom: 50px;
    }

    .line-shown {
        margin-right: 100px;
    }

    .rows p {
        font-size: 7em;

    }

    .text-hidden-sections {
        padding-left: 500px;
        padding-right: 180px !important;
        padding-top: 20px;
    }

    .motto {
        margin-right: 45px;
    }

    .motto p {
        font-size: 80pt !important;
    }

    .footer-heading {
        letter-spacing: 25px;
        transform: scaleY(8.8);
    }

    .logo {
        max-width: 800px;
    }

    .works-description {
        margin-right: 50px;
    }

    .works-container {
        margin-right: 50px;
    }

    .programs-used-title {
        margin-right: 50px;
    }

    .programs-used {
        margin-right: 50px;
    }
}

/* IPAD PRO VERTICAL */

@media screen and (max-width: 1100px) {
    html {
        width: fit-content;
    }

    body {
        margin: 0;
        background-color: #0C0A08;
        color: #A9B8D2;
        font-family: 'ITCAvantGardePro-Md', sans-serif;
        cursor: context-menu;
        overflow-x: hidden;
        padding: 0;
        height: 100%;
    }

    .circle {
        opacity: 0;
    }

    #navbar {
        padding: 50px 280px 0px 50px;
    }

    .line-shown {
        margin-right: 220px;
        margin-top: 400px;
    }

    .about-section {
        margin-top: 500px;
        margin-left: -100px;
    }

    .section-title {
        font-size: 1.2em !important;
        padding-top: -150px;
    }

    .section-text {
        margin-right: 250px;
        font-size: 1.6em !important;
        padding-bottom: 50px;
    }

    .what-i-do-container {
        margin-left: -100px;
    }

    .rows p {
        font-size: 7em;
    }

    .text-hidden-sections {
        padding-left: 500px;
        padding-right: 120px !important;
        padding-top: 40px;
    }

    .works-section {
        margin-left: -100px;
    }

    .history-container {
        margin-left: -100px;
    }

    .clients-container {
        margin-left: -100px;
    }

    .clients-container p {
        font-size: 5em;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .clients-container .text-hidden-sections {
        margin-right: 50px;
    }

    .scroll-section{
        padding-top: 0;
        margin-right: 220px;
        margin-bottom: -400px;
    }

    .fade-up-images-left{
        margin-bottom: 400px;
    }

    .motto {
        margin-right: 200px;
    }

    .motto p {
        font-size:70pt !important;
    }

    .footer-container {
        padding-left: 100px;
    }

    .footer-heading {
        letter-spacing: 18px;
        transform: scaleY(7.4);
    }

    .logo {
        max-width: 400px;
    }

    .works-description {
        margin-right: 210px;
    }

    .works-container {
        margin-right: 210px;
    }

    .programs-used-title {
        margin-right: 210px;
    }

    .programs-used {
        margin-right: 210px;
    }
}